@import "tailwindcss";

@font-face {
  font-family: 'Gagalin';
  src: url('/fonts/Gagalin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-color: #396430;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-image-wave: image-wave 2.5s infinite ease-in-out;
  --animate-fadeIn: fadeIn 0.3s ease-out forwards;
  --animate-scaleIn: scaleIn 0.3s ease-out forwards;

  @keyframes image-wave {
    0% {
      transform: translateY(0);
    }

    15% {
      transform: translateY(-12px);
    }

    30% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(10px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

@media (max-width: 768px) {
  @keyframes image-wave {
    0% {
      transform: translateY(0);
    }

    15% {
      transform: translateY(-8px);
    }

    30% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
* {
  letter-spacing: 1px;
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: 'Gagalin', "sans-serif";
}

.StripeElement input {
  border-radius: 1000px;
}